body{
    background-color: #f5cac3;
}

li{
    font-family: 'Courier' Courier, monospace;
    font-size: 30px;
    display: inline;
    color: #25283d;
    background-color: #d1bcff;
    border: 5px solid #ff9dac;
    box-shadow: 5px 5px #ff9dac;
	width: 275px;
    border-radius: 10px;
    padding: 5px;
    align-self: center;
}


.Nav{
    align-items: center;
}

.gallery{
    display: grid;
  grid-template-columns: 400px 300px 330px 300px px 340px;
  grid-template-rows: 450px 100px 500px 500px 300px;
  gap: 20px 20px;
  grid-template-areas:
    "jjba bustcomm bustcomm sldnr inkling ."
    "kiri kiri recentoc sldnr inkling ."
    "kiri kiri recentoc greenoc gee ."
    ". . . . . .";
}
img{
    height:100%;
    padding:10px;

}

#jjba { grid-area: jjba; height: 130%;
}
#bustcomm { grid-area: bustcomm; height: 101% }
#sldnr { grid-area: sldnr; height: 100%;}
#inkling { grid-area: inkling; }
#recentoc { grid-area: recentoc; height: 104%}
#kiri { grid-area: kiri; height: 102%; }
#greenoc { grid-area: greenoc; height: 124% }
#gee { grid-area: gee; height: 110% }

@media only screen and (max-width: 767px) {
    img {
        height: 100%;
        object-fit:fill;
        padding:3px;
      }
      .gallery{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 800px;
          grid-row-gap: 10px;

      }
      li{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
    }
  }
