body{
    background-color: #f5cac3;
}

li{
    font-family: 'Courier' Courier, monospace;
    font-size: 30px;
    display: inline;
    color: #25283d;
    background-color: #d1bcff;
    border: 5px solid #ff9dac;
    box-shadow: 5px 5px #ff9dac;
	width: 275px;
    border-radius: 10px;
    padding: 5px;
    align-self: center;
}


.Nav{
    align-items: center;
}

.gallery{
    display: grid;
  grid-template-columns: 300px 134.7px px 330px 330px 300px;
  grid-template-rows: 392.7px 0.1px 488.3px 376.4px;
  gap: 20px 10px;
  grid-template-areas:
    "jjba bustcomm bustcomm sldnr inkling ."
    "kiri kiri recentoc sldnr inkling ."
    "kiri kiri recentoc greenoc gee ."
    ". . . . . .";
}
img{
    height:100%;
    padding:10px;

}

#jjba { grid-area: jjba; 
}
#bustcomm { grid-area: bustcomm; }
#sldnr { grid-area: sldnr; }
#inkling { grid-area: inkling; }
#recentoc { grid-area: recentoc; }
#kiri { grid-area: kiri; }
#greenoc { grid-area: greenoc; }
#gee { grid-area: gee; }

@media only screen and (max-width: 767px) {
    img {
        height: 100%;
        object-fit:fill;
        padding:3px;
      }
      .gallery{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 800px;
          grid-row-gap: 10px;

      }
      li{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
    }
  }
