body{
    background-color: #f5cac3;
}

li{
    font-family: 'Courier' Courier, monospace;
    font-size: 30px;
    display: inline;
    color: #25283d;
    background-color: #d1bcff;
    border: 5px solid #ff9dac;
    box-shadow: 5px 5px #ff9dac;
	width: 275px;
    border-radius: 10px;
    padding: 5px;
    align-self: center;
}


.Nav{
    align-items: center;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(4, 3fr, minmax(200px, 1fr));
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 4px;
    grid-auto-flow:column;
}
img{
    width:100%;
    height:100%;
    object-fit:cover;
}

@media only screen and (max-width: 480px) {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
      }
      .gallery{
          display: grid;
          grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      }
  }