body{
  background-color: #f5cac3;
}
.header{
  grid-area:header;
  text-align:center;
  padding: 30px;
  background-color: #f5cac3;
}

ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin:0;
    padding:5;
    background-color: #d1bcff;
    border: 5px solid #ff9dac;
    box-shadow: 5px 5px #ff9dac;
    width: 275px;
    border-radius: 10px;
    list-style-type:none;
    display: inline;
}

.grid-container {
  display: grid;

  grid-template-areas: 
    'header header header' 
    'left middle right' 
    'footer footer footer';
    
    }

.left, .middle, .right{
  padding:10px;
  height: 600px;


}

.left{
  grid-area: left;

}

.middle{
  grid-area: middle;
}


.right{
  grid-area: right;
}

img{
 width:40%;
}
.footer{
  grid-area:footer;
  background-color: #f5cac3;
  text-align:center;
  padding:10px;
  
}

 li{
   float:center;
   display:inline;
   text-align:center;
 }
 
 li a{
   display:inline;
   color: #25283d;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 

@media only screen and (max-width: 767px) {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d1bcff;
  border:none;
}

li a {
  display: block;
  color: #25283d;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #d1bcff
}

.grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }

}