body{
    background-color: #f5cac3;
}

ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin:0;
    padding:5;
    background-color: #d1bcff;
    border: 5px solid #ff9dac;
    box-shadow: 5px 5px #ff9dac;
    width: 275px;
    border-radius: 10px;
    list-style-type:none;
    display: inline;
}

li{
    float:center;
    display:inline;
    text-align:center;
  }
  
  li a{
    display:inline;
    color: #25283d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


.gallery{
    display: grid;
    grid-template-columns: 453.3px 0px 548.6px 490px 487.2px;
    grid-template-rows: 436.9px 154.5px 440.9px 402.4px 600px;
    grid-gap: 80px 20px;
    grid-template-areas:
      "jffmulti UAUA overdrive rdhff rabbit"
      "jffmulti UAUA overdrive rdhff rabbit"
      "infinite clockwork clockwork faraday teamtripls"
      ". . . . .";
  }
  #jffmulti { grid-area: jffmulti; }
  #UAUA { grid-area: UAUA;
  height:101%; }
  #overdrive { grid-area: overdrive; }
  #rdhff { grid-area: rdhff; }
  #infinite { grid-area: infinite;
  height: 108%; }
  #faraday { grid-area: faraday; 
  height: 125%;}
  #clockwork { grid-area: clockwork; }
  #rabbit { grid-area: rabbit; }
  #teamtripls { grid-area: teamtripls; }

img{
height:100%;
padding:10px;
}

@media only screen and (max-width: 767px) {
    img {
        height: auto;
        object-fit:fill;
        object-position:bottom;
        padding:10px;
      }
      .gallery{
          display: block;
          grid-template-columns: 1fr;
          grid-template-rows: 300px;
          grid-row-gap: 10px;

      }
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d1bcff;
  border:none;
}

li a {
  display: block;
  color: #25283d;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #d1bcff
}
li a.active{
  background-color: #f497da;
  color: white;
}
  }