body{
    background-color: #f5cac3;
}

li{
    font-family: 'Courier' Courier, monospace;
    font-size: 30px;
    display: inline;
    color: #25283d;
    background-color: #d1bcff;
    border: 5px solid #ff9dac;
    box-shadow: 5px 5px #ff9dac;
	width: 275px;
    border-radius: 10px;
    padding: 5px;
    align-self: center;
}

.gallery{
    display: grid;
    grid-template-columns: 453.3px 0px 548.6px 490px 487.2px;
    grid-template-rows: 436.9px 154.5px 440.9px 402.4px 600px;
    grid-gap: 80px 20px;
    grid-template-areas:
      "jffmulti UAUA overdrive rdhff rabbit"
      "jffmulti UAUA overdrive rdhff rabbit"
      "infinite clockwork clockwork faraday teamtripls"
      ". . . . .";
  }
  #jffmulti { grid-area: jffmulti; }
  #UAUA { grid-area: UAUA;
  height:101%; }
  #overdrive { grid-area: overdrive; }
  #rdhff { grid-area: rdhff; }
  #infinite { grid-area: infinite;
  height: 108%; }
  #faraday { grid-area: faraday; 
  height: 125%;}
  #clockwork { grid-area: clockwork; }
  #rabbit { grid-area: rabbit; }
  #teamtripls { grid-area: teamtripls; }

img{
height:100%;
padding:10px;
}

@media only screen and (max-width: 767px) {
    img {
        height: auto;
        object-fit:fill;
        object-position:bottom;
        padding:3px;
      }
      .gallery{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 840px;
          grid-row-gap: 10px;

      }
      li{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
    }
  }