body{
    background-color: #f5cac3;
}

ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin:0;
    padding:5;
    background-color: #d1bcff;
    border: 5px solid #ff9dac;
    box-shadow: 5px 5px #ff9dac;
    width: 275px;
    border-radius: 10px;
    list-style-type:none;
    display: inline;
}

li{
    float:center;
    display:inline;
    text-align:center;
  }
  
  li a{
    display:inline;
    color: #25283d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.gallery {
    display: grid;
    grid-template-columns: 500px 40px 550px 300px 250px;
    grid-template-rows: 300px 300px 300px 300px 300px;
    gap: 10px 10px;
    grid-template-areas:
      "personahp rkstrJ rkstrJ soc soc mimes ."
      "personahp rkstrJ rkstrJ soc soc mimes ."
      "circa resad resad jace jace chfllbdy ."
      "circa resad resad jace jace chfllbdy ."
      ". . . . . . .";
  }
  #personahp { grid-area: personahp; height: 105%
  object-position}
  #rkstrJ { grid-area: rkstrJ; height: 96%; }
  #soc { grid-area: soc; height: 99%; }
  #mimes { grid-area: mimes; }
  #circa { grid-area: circa; height: 101%;}
  #resad { grid-area: resad; height: 113%; }
  #jace { grid-area: jace; height: 113%;}
  #chfllbdy { grid-area: chfllbdy; height: 120%;}

img{
    height:100%;
    padding:10px;
}

@media only screen and (max-width: 767px) {
    img {
        height: auto;
        object-fit:fill;
        object-position:bottom;
        padding:10px;
      }
      .gallery{
          display: block;
          grid-template-columns: 1fr;
          grid-template-rows: 300px;
          grid-row-gap: 10px;

      }
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d1bcff;
  border:none;
}

li a {
  display: block;
  color: #25283d;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #d1bcff
}
li a.active{
  background-color: #f497da;
  color: white;
}
  }